:root {
  --cl-white: hsl(0, 0%, 100%);
  --cl-darkBlue: hsl(218, 44%, 22%);
  --cl-ligthGrey: hsl(212, 45%, 89%);
  --cl-greyishBlue: hsl(220, 15%, 55%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Reset default properties */
* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Styling */

.main {
  font-family: "Outfit", sans-serif;

  background-color: var(--cl-ligthGrey);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.main img {
  width: 100%;

  border-radius: 10px;
}

.mainFrame {
  background-color: var(--cl-white);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 335px;
  height: 502px;

  padding: 15px;
  margin: 20px;

  border-radius: 10px;
}

.mainFrame p,
h1 {
  padding: 10px;
}

.mainFrame p {
  color: grey;

  font-size: 15px;
}

.mainFrame h1 {
  color: var(--cl-darkBlue);
}

.infoContainer {
  text-align: center;

  padding: 15px;
}

/* Mobile view */

@media only screen and (max-width: 430px) {
  .mainFrame {
    width: 100vh;
    height: auto;
  }
}
